name: Verifereum Theories Build

on:
  workflow_dispatch:
  push:
    paths:
    - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get released Poly/ML commit hash
        id: polyml-version
        run: |
          echo "POLYML_TAG=v5.9.2" >> "$GITHUB_ENV"
          echo "hash=$(git ls-remote https://github.com/polyml/polyml.git refs/tags/${POLYML_TAG} | cut -f1 )" >> $GITHUB_OUTPUT

      - name: Cache Poly/ML
        uses: actions/cache@v3
        id: cache-polyml
        with:
          path: $HOME/polyml-install
          key: polyml-${{ runner.os }}-${{ steps.polyml-version.outputs.hash }}

      - name: Build and Install Poly/ML
        if: steps.cache-polyml.outputs.cache-hit != 'true'
        run: |
          git clone -b "${POLYML_TAG}" --depth 1 https://github.com/polyml/polyml.git
          cd polyml
          ./configure --prefix=$HOME/polyml-install
          make
          make install

      - name: Add Poly/ML to PATH
        run: echo "$HOME/polyml-install/bin" >> "$GITHUB_PATH"

      - name: Verify Poly/ML is executable
        run: poly -v


      - name: Get latest HOL commit hash
        id: hol4-version
        run:
          echo "hash=$(git ls-remote https://github.com/HOL-Theorem-Prover/HOL.git master | cut -f1 )" >> $GITHUB_OUTPUT

      - name: Cache HOL4
        uses: actions/cache@v3
        id: cache-hol4
        with:
          path: $HOME/HOL
          key: hol-${{ runner.os }}-${{ steps.hol4-version.outputs.hash }}

      - name: Setup and Build HOL4
        if: steps.cache-hol4.outputs.cache-hit != 'true'
        run: |
          git clone -b master https://github.com/HOL-Theorem-Prover/HOL.git $HOME/HOL
          cd $HOME/HOL
          poly --script tools/smart-configure.sml
          bin/build

      - name: Add HOL to PATH and export HOLDIR
        run: |
          echo "$HOME/HOL/bin" >> "$GITHUB_PATH"
          echo "HOLDIR=$HOME/HOL" >> "$GITHUB_ENV"

      - name: Verify HOL is executable
        run: hol --help

      - name: Build Verifereum
        run: Holmake
